/*------------  HEADER  ------------*/

header {
    background: #78D4BB;
}

header li{
    display: inline-block;
    list-style: none;
}

header a{
    display: inline-block;
    font-size: 1.1em;
    font-weight: 700;
    text-decoration: none;
    padding: 30px 10px 30px 10px;
    transition: ease-in all .2s;
    color: #136350;
}

header .header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header .header .img-logo{
    width: 25%;
}

header .menu a:hover{
    color: #fff;
    background-color: #158d71;
}








    /*
    .header{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    header .img-logo{
        width: 25%;
    }

    
    header .menu ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
    }

    header .menu ul li{
        display: inline-block;
        list-style: none;
    }

        header .menu ul li a{
            color: #ffffff;
            font-size: 1.2em;
            font-weight: 700;
            text-decoration: none;
            margin-left: 10px;
            transition: ease 0.2s;
        }

        header .menu ul li a:hover{
            border-bottom: 2px;
            border-color: #fff;
        }
    
        header .menu ul .regis{
            margin-left: 30px;
            background: #fff;
            padding: 8px 20px 8px 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: ease 0.2s;
        }

        header .menu ul .regis:hover{
            -webkit-box-shadow: 0 4px 7px 0 rgba(0,0,0,0.16);
            -moz-box-shadow: 0 4px 7px 0 rgba(0,0,0,0.16);
            box-shadow: 0 4px 7px 0 rgba(0,0,0,0.16);
            
            -webkit-transform: scale(1.03);      
            transform: scale(1.03);      
            
        }
        */

        .registro{
            color: #37AF9A;
            font-size: 1.125em;
        }