
/*
Fuente: https://codepen.io/jlantunez/pen/JaNgwb
*/


.grid {
    margin: 24px auto;
    column-width: 200px;
    column-count: 3;
    column-gap: 24px;
}
  
  
  .grid li {
    display:inline-block;
    padding: 8px;
    position: relative;
    -webkit-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
  }

  

  .grid li:hover {
  -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }

  a {
    color:#17f;
    text-decoration:none;
  }
  
  .grid img {
    max-width: 100%;
    display: block;
  }

  
  ul {
    padding: 0;
    margin: 0;
  }
  
  
  .grid ul li {
    margin-bottom: 1em;
  }

  @media screen and (max-width: 450px) {

    .grid {
      column-width: 100px;
      column-count: 3;
      column-gap: 10px;
    }

  }

  


  